<table width="853" border="0" cellspacing="0" cellpadding="0" height="565">
	<tr>
		<td align="center" valign="middle">
			<a href="FATC_Cannes.mov" rel="shadowbox;title=Fixing Advertising's Talent Crisis;width=1280;height=720">
				<img src="images/crisis.jpg" alt="" height="120" width="213" border="0"><br>
				<h4 class="center">Fixing Advertising's Talent Crisis (2:00)</h4>
			</a>
		</td>
		<td align="center" valign="middle">
			<a href="BYC.mov" rel="shadowbox;title=Brooklyn Youth Chorus records Gershwin's Rhapsody In Blue;width=960;height=540">
				<img src="images/byc.jpg" alt="" height="120" width="213" border="0"><br>
				<h4 class="center">BYC Records Gershwin (1:36)</h4>
			</a>
		</td>
		<td align="center" valign="middle">
    <a href="Run DMC_5-WEB.mov" rel="shadowbox;title=Who Shot Rock & Roll: Run DMC/Josh Cheuse;width=853;height=480">
				<img src="images/DMC.jpg" alt="" height="120" width="213" border="0"><br>
				<h4 class="center">Run DMC/Josh Cheuse (:30)</h4>
			</a>
		</td>
	</tr>
	<tr>
		<td align="center" valign="middle">
			<a href="VertexBehindTheScenes_8.3-H.264_LAN.mov" rel="shadowbox;title=Vertex: NYC TV Shoot - Behind The Scenes;width=960;height=540">
				<img src="images/vertex.jpg" alt="" height="120" width="213" border="0"><br>
				<h4 class="center">NYC TV Behind The Scenes (2:34)</h4>
			</a>
		</td>
		<td align="center" valign="middle">
			<a href="Strawberry-WEB.mov" rel="shadowbox;title=Olay: Rewind Time - Strawberry;width=853;height=480">
				<img src="images/Olay_s.jpg" alt="" height="120" width="213" border="0"><br>
				<h4 class="center">Rewind Time (:30)</h4>
			</a>
		</td>
		<td align="center" valign="middle">
			<a href="XXAR-V909_GWW Neon_HD-WEB.mov" rel="shadowbox;title=Arnold: Great Work Works;width=853;height=480">
				<img src="images/GWW.jpg" alt="" height="120" width="213" border="0"><br>
				<h4 class="center">Great Work Works (:35)</h4>
			</a>	
		</td>
	</tr>
	<tr>
		<td align="center" valign="middle">
			<a href="BAT_H.264_540.mov" rel="shadowbox;title=Michelle Lewis: Breakfast At Tiffany's;width=960;height=540">
				<img src="images/Tiffanys.jpg" alt="" height="120" width="213" border="0"><br>
				<h4 class="center">Breakfast At Tiffany's (4:28)</h4>
			</a>	
		</td>
		<td align="center" valign="middle">
			<a href="tr2011.mov" rel="shadowbox;title=Truth: 2011 Lights And Magic Apparel Spot;width=960;height=540">
				<img src="images/tr.jpg" alt="" height="120" width="213" border="0"><br>
				<h4 class="center">truth 2011 Apparel Spot (:21)</h4>
			</a>	
		</td>
		<td align="center" valign="middle">
			<a href="How_To_Creativity-WEBsm.mov" rel="shadowbox;title=How To: Creativity;width=853;height=480">
				<img src="images/HowToCreativity.jpg" alt="" height="120" width="213" border="0"><br>
				<h4 class="center">How To: Creativity (3:28)</h4>
			</a>	
		</td>
	</tr>
</table>